

extends layout

block header
  h1.title Add recipe

block content
  div.row
    div.col-md-3
    
    div.col-md-6
      br
      h4="Recipe name"
      input.form-control(type = "text")
      br
      br
      br
      h4= "Recipe ingredients and steps"
      input.form-control(type = "text")
      br
      br
      button.btn.btn-primary(type = "button") Add field
      button.btn.btn-warning(type = "button") Remove last field
    
    div.col-md-3
