

extends layout

block content
  h1= "Add recipe"
  br
  h4= "Recipe name"
  input(type = "text")
  br
  br
  br
  h4= "Recipe ingredients and steps"
  input(type = "text")
  br
  br
  button(type = "button") Add field
  button(type = "button") Remove last field
