extends layout

block content
  div.row
    div.col-md-3
      
    div.col-md-6
      h1= title
      p Welcome to #{title}
      br
      br
      a(class = "button" href = "/addrecipe") Add a new recipe
      br
      br
      a(class = "button" href = "/searchrecipes") Search recipes
    
    div.col-md-3
    
