extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  br
  a(class = "button" href = "/addrecipe") Add a new recipe
  br
  br
  a(class = "button" href = "/searchrecipes") Search recipes
