doctype html
html(lang="en")
html
  head
    title= title

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
  div.container-fluid
    h1.title= title
    div.row.navi
      div.col-md-2
        img.img-fluid(src="/images/pot-3170687_1280.png")
      div.mx-auto
        nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
          div.navbar-nav
            ul.list-inline
              li.list-inline-item
                a.nav-item.nav-link(href="/") Home
              li.list-inline-item
                a.nav-item.nav-link(href="/addrecipe") Add recipe
              li.list-inline-item
                a.nav-item.nav-link(href="/searchrecipes") Search recipes
                
                
    block content
  
    div.footer
        p footer
  
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
