

extends layout

block header
  h1.title= "Search recipe"
  

block content
  div.row
    div.col-md-3
      
    div.col-md-6.col-lg-6
      br
      br
      form.form-inline
        input.form-control.search-field(type = "text") 
        button.btn.btn-primary.btn-search(type="button") Search recipes

    div.col-md-3
  
  
  div.row
    div.col-md-3
      
    div.col-md-6
      ul
        each recipe in recipes
          h2= recipe.name
          //- each ingredients in recipe
          - let n = 0
          while n < recipe.ingredients.length
            li= recipe.ingredients[n].amount + " " + recipe.ingredients[n].name
            - n++

    div.col-md-3

  
