html{
  height: 100%;
}

body {
  position: relative;
  padding: 50px 0px 50px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100%;
}

a {
  color: #00B7FF;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0rem 0rem 0rem;
  background-color: #efefef;
  text-align: center;
}

.btn{
  margin-right: 10px;
}

a.nav-item.nav-link{
  margin: 20px;
}

.navi{
  background-color: #dee2ff;
}

.title{
  text-align: center;
}

.btn-search{
  float: right;
}

.search-field{
  width: 100%;
}
